<p-panel
  class="col-4"
  header="{{race.raceCourse.name}} | Hora: {{race.time}} | Data: {{race.date | date:'dd/MM/yyyy'}}"
  [toggleable]="true">

  <ng-container *ngFor="let horseJockey of race.raceHorseJockeys">
    <p-card class="m-2">
      <div class="d-flex justify-content-around flex-column">
        <div class="d-flex justify-content-between">
          <p>Horse: {{horseJockey.horse.name}}</p>
          <p>Jockey: {{horseJockey.jockey.name}}</p>
        </div>
        <p>Odds: {{horseJockey.odds.currentOdd}}</p>
      </div>
    </p-card>
  </ng-container>

</p-panel>


