<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>

<section class="cavalos m-0 m-md-5">
  <p-card >
    <ng-template pTemplate="header">
      <div class="image-container"></div>
      <h1 class="text-center mt-3">Cavalos</h1>
    </ng-template>
    <app-table
      tableHeader="Cavalos"
      [tableColumnDefinition]="columns"
      [values]="filteredHorses"
      (filterEvent)="handleFilterHorses($event)"
      (rowClickEvent)="showHorseInfo($event)"
    ></app-table>
  </p-card>
</section>
