<p-menubar [model]="menuItems">

  <ng-template pTemplate="end">
    <div class="d-flex">
      <div class="mx-3 d-flex align-items-center text-success">
        {{userMoney | currency}}
      </div>

      <div class="mx-3">
        <p-button (onClick)="handleWalletClick()" icon="fa-solid fa-sack-dollar" styleClass="p-button-outlined p-button-success">
        </p-button>
      </div>
      <div>
        <p-button (onClick)="handleLogout()" icon="pi pi-sign-out" class="logout-btn" styleClass="p-button-outlined p-button-warning" >
        </p-button>
      </div>
    </div>
  </ng-template>
</p-menubar>
