<ng-container *ngIf="type == 'jockey'" >
  <p>Número de vitórias: {{ jockey?.numberOfVictories}}</p>
  <p>Número de corridas: {{ jockey?.numberOfRaces}}</p>
  <div>
    <h2>Corridas Passadas</h2>
    <ng-container *ngFor="let result of jockey?.jockeyResults">
      <div class="d-flex justify-content-between">
        <p>Data: {{result?.resultDate | date: "dd/MM/yyyy"}}</p>
        <p>Colocação: {{result?.result}}</p>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type == 'horse'">
  <p>Idade: {{ horse?.age }}</p>
  <p>Número de vitórias: {{ horse?.numberOfVictories}}</p>
  <p>Número de corridas: {{ horse?.numberOfRaces}}</p>
  <div>
    <h2>Últimas Corridas</h2>
    <ng-container *ngFor="let result of horse?.horseResults">
      <div class="d-flex justify-content-between">
        <p>Data: {{result?.resultDate | date: "dd/MM/yyyy"}}</p>
        <p>Colocação: {{result?.result}}</p>
      </div>
    </ng-container>
  </div>
</ng-container>
