<ng-container *ngIf="races$ | async; let races">
  <div>
    <ng-container *ngFor="let race of races.races">
      <div *ngIf="!race.finished" class="col-12 my-2">
        <app-race-card
          [race]="race">
        </app-race-card>
        <button
          pButton
          pRipple
          [disabled]="raceIsLive"
          pTooltip="Não é possível iniciar mais de uma corrida ao mesmo tempo"
          [tooltipDisabled]="!raceIsLive"
          (click)="startRace(race)"
          class="p-button-success w-100">
          Iniciar Corrida
        </button>
      </div>
    </ng-container>
  </div>
</ng-container>


