.image-container {
  border-radius: 8px;
  min-height: 400px;
  background-image: url("/assets/jockey.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%);
}
